<div class='container'>
    <div class="tab-container">
        <div class="tab-wrapper">
            <input class='radio-wrapper' type="radio" name="tab" id="tab1" checked />
            <label class="tab-label" for="tab1" nth="1">Логин</label>
            <div class="tab-item" id="tab-content1">
                
                {{#if loginError}}
                    <p>{{loginError}}</p>                    
                {{/if}}
                
                <h1>Войти</h1>
                <form action="/auth/login" method="POST">
                    <div class='input-add'>
                        <input id='remail' name='email' type='email' class='validate' required>
                        <label for='remail'>Email</label>
                    </div>
                    <div class='input-add'>
                        <input id='rpassword' name='password' type='password' class='validate' required>
                        <label for='rpassword'>Пароль</label>
                    </div>

                    <input type='hidden' name="_csrf" value='{{csrf}}'>
                    <p class='userAtext'ы><a href='/auth/reset'>Забыли пароль?</a></p>
                    <button class='btn btn-add' type="submit">Войти</button>
                </form>
            </div>

            <input class='radio-wrapper' type="radio" name="tab" id="tab2" />
            <label class="tab-label" for="tab2" nth="2">Регистрация</label>
            <div class="tab-item" id="tab-content2">
                <h1>Регистрация</h1>

                {{#if registerError}}
                    <p>{{registerError}}</p>
                    <script>
                        tab1.removeAttribute('checked')
                        tab2.setAttribute('checked', true)
                    </script>
                    
                {{/if}}     

                <form action="/auth/register" method="POST" novalidate>
                    <div class='input-add'>
                        <input id='remail' name='email' type='email' class='validate' required>
                        <label for='remail'>Email</label>
                    </div>
                    <div class='input-add'>
                        <input id='rname' name='name' type='text' class='validate' required>
                        <label for='rname'>Ваше имя</label>
                    </div>
                    <div class='input-add'>
                        <input id='rpassword' name='password' type='text' class='validate' required>
                        <label for='rpassword'>Пароль</label>
                    </div>
                    <div class='input-add'>
                        <input id='confirm' name='confirm' type='password' class='validate' required>
                        <label for='confirm'>Повторить пароль</label>
                    </div>

                    <input type='hidden' name="_csrf" value='{{csrf}}'>

                    <button class='btn btn-add' type="submit">Зарегестрироваться</button>
                </form>
            </div>
        </div>
    </div>
<style>
.tab-wrapper{
    padding-top: 10px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: sans-serif;
}

.tab-wrapper .tab-item,
.tab-wrapper .radio-wrapper {display: none;}
.tab-wrapper .tab-item{
    background-color: #fff;
    width: calc(100% - 40px);
    max-width: 100%;
    padding: 20px;
    order: 1;
  }
.tab-wrapper .tab-label {
    background-color: #e6e6e6;
    height: 35px;
    line-height: 35px;
    min-width: 50px;
    padding: 0px 20px;
    text-align: center;
    float: left;
    color: #878685;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-right: 1px solid #c7c7c7;
}

.tab-wrapper input:checked + label{
  background-color: #fff;
}
.tab-wrapper input:checked + .tab-label + .tab-item{display: block;}

</style>

</div>