<script src="/app.js"></script>

<div class="footer">
    <div class="container">
        <div class="footer-left">
            <a href='/'>
                <img src='logo.png' width="50px" height='50px'>
            </a>
            <p>Добрый мед</p>
        </div>
        <div class="footer-center">
            <p>+7-927-508-63-68</p>
            <p>honey178@honey.ru</p>
        </div>
        <div class="footer-right">
            <p>Мы в соцсетях:</p>
            <a href='https://www.instagram.com/medok178/'>
                <img src='instagram.png' width="30px">
            </a>
        </div>
    </div> 
</div>