<div class="container">
    <h1>Продукция</h1>
       <a href='/one'>
            <div>
                    <img src='one.jpg'>
            </div>
        </a>
        <a href='/present'>
            <div>
                    <img src='present.jpg'>
            </div>
        </a>
    </div>
</div>